# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/
git clone git@git.weixin.qq.com:pgg/pgg12190520.git
cd pgg12190520
touch README.md
git add README.md
git commit -m "add README"
git push -u origin master